<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Failure</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="sign.jpg" alt="logo">
					</div>
					<h3 class = "titles">Doctor's Appointment</h3>
				</div>
                <h4 class = "titles">Sorry! We couldn't Login. The username/password entered is incorrect. You can try to again.<h4>
				<button  class="btn btn-primary btn-block para" onclick="window.location.href='/'" >Try Again</button>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
