<!DOCTYPE html>
<html lang="en">
<head>
	<title>Booking Success</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="../img/sign.jpg" alt="logo">
					</div>
					<h3 class = "titles">Doctor's Appointment</h3>
				</div>
                <h4 class = "titles">Congratulations {name}! Your appointment has been booked successfully. You can check your appointment details in the "My Appointments" page.<h4>
                
				<button  class="btn btn-primary btn-block para" onclick="window.location.href='appointed.html'" >Check Here</button>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
